.qr-scanner-container {
    .video-container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        &.scanning {
            border: 2px solid #00ff00;
        }

        video {
            width: 100%;
            height: auto;
        }
    }
}

.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* This ensures it appears on top of other elements */
}
