--extra-index-url=https://pypi.openspp.org/simple/
-r requirements.txt
-r openg2p-requirements.txt
odoo-addon-g2p-connect-demo==17.0.1.0.0.16
odoo-addon-spp-api==17.0.1.0.0.17
odoo-addon-spp-api-records==17.0.1.0.0.9
odoo-addon-spp-area==17.0.1.0.0.22
odoo-addon-spp-area-gis==17.0.1.0.0.10
odoo-addon-spp-audit-config==17.0.1.0.0.6
odoo-addon-spp-audit-log==17.0.1.0.0.14
odoo-addon-spp-audit-post==17.0.1.0.0.9
odoo-addon-spp-auto-update-entitlements==17.0.1.0.0.7
odoo-addon-spp-base==17.0.1.0.0.21
odoo-addon-spp-base-api==17.0.1.0.0.6
odoo-addon-spp-base-demo==17.0.1.0.0.14
odoo-addon-spp-base-gis==17.0.1.0.0.34
odoo-addon-spp-base-gis-demo==17.0.1.0.0.12
odoo-addon-spp-base-gis-rest==17.0.1.0.0.5
odoo-addon-spp-base-setting==17.0.1.0.0.6
odoo-addon-spp-basic-cash-entitlement-spent==17.0.1.0.0.6
odoo-addon-spp-change-request==17.0.1.0.0.32
odoo-addon-spp-change-request-add-children-demo==17.0.1.0.0.21
odoo-addon-spp-change-request-add-farmer==17.0.1.0.0.11
odoo-addon-spp-change-request-change-info==17.0.1.0.0.11
odoo-addon-spp-consent==17.0.1.0.0.16
odoo-addon-spp-custom-field==17.0.1.0.0.18
odoo-addon-spp-custom-field-custom-filter==17.0.1.0.0.4
odoo-addon-spp-custom-field-recompute-daily==17.0.1.0.0.6
odoo-addon-spp-custom-fields-ui==17.0.1.0.0.12
odoo-addon-spp-custom-filter==17.0.1.0.0.4
odoo-addon-spp-custom-filter-ui==17.0.1.0.0.9
odoo-addon-spp-data-export==17.0.1.0.0.8
odoo-addon-spp-dci-api-server==17.0.1.0.0.12
odoo-addon-spp-demo==17.0.1.0.0.19
odoo-addon-spp-dms==17.0.1.0.0.6
odoo-addon-spp-eligibility-sql==17.0.1.0.0.8
odoo-addon-spp-eligibility-tags==17.0.1.0.0.8
odoo-addon-spp-encryption==17.0.1.0.0.4
odoo-addon-spp-ent-trans==17.0.1.0.0.6
odoo-addon-spp-entitlement-basket==17.0.1.0.0.7
odoo-addon-spp-entitlement-cash==17.0.1.0.0.4
odoo-addon-spp-entitlement-in-kind==17.0.1.0.0.10
odoo-addon-spp-event-data==17.0.1.0.0.13
odoo-addon-spp-event-data-program-membership==17.0.1.0.0.2
odoo-addon-spp-event-demo==17.0.1.0.0.9
odoo-addon-spp-exclusion-filter==17.0.1.0.0.5
odoo-addon-spp-farmer-registry-base==17.0.1.0.0.35
odoo-addon-spp-farmer-registry-dashboard==17.0.1.0.0.13
odoo-addon-spp-farmer-registry-demo==17.0.1.0.0.45
odoo-addon-spp-idpass==17.0.1.0.0.11
odoo-addon-spp-idqueue==17.0.1.0.0.14
odoo-addon-spp-import-dci-api==17.0.1.0.0.16
odoo-addon-spp-import-match==17.0.1.0.0.8
odoo-addon-spp-irrigation==17.0.1.0.0.5
odoo-addon-spp-land-record==17.0.1.0.0.7
odoo-addon-spp-manual-eligibility==17.0.1.0.0.6
odoo-addon-spp-manual-entitlement==17.0.1.0.0.6
odoo-addon-spp-oauth==17.0.1.0.0.7
odoo-addon-spp-openid-vci==17.0.1.0.0.8
odoo-addon-spp-openid-vci-group==17.0.1.0.0.3
odoo-addon-spp-openid-vci-individual==17.0.1.0.0.4
odoo-addon-spp-pmt==17.0.1.0.0.11
odoo-addon-spp-pos==17.0.1.0.0.12
odoo-addon-spp-program-id==17.0.1.0.0.4
odoo-addon-spp-programs==17.0.1.0.0.25
odoo-addon-spp-programs-compliance-criteria==17.0.1.0.0.9
odoo-addon-spp-programs-sp==17.0.1.0.0.17
odoo-addon-spp-registrant-import==17.0.1.0.0.8
odoo-addon-spp-registrant-tag==17.0.1.0.0.5
odoo-addon-spp-registry-data-source==17.0.1.0.0.9
odoo-addon-spp-registry-group-hierarchy==17.0.1.0.0.11
odoo-addon-spp-scan-id-document==17.0.1.0.0.11
odoo-addon-spp-service-point-device==17.0.1.0.0.5
odoo-addon-spp-service-points==17.0.1.0.0.11
odoo-addon-spp-starter==17.0.1.0.0.11
odoo-addon-spp-user-roles==17.0.1.0.0.9
# generated from manifests external_dependencies
Pillow>=9.3.0
PyLD
bravado_core
faker
geojson
jsonschema
jwcrypto
pyjwt>=2.4.0
pyproj
python-magic
qrcode
shapely
simplejson
swagger_spec_validator
xlrd
