--index-url=https://pypi.openspp.org/simple/
--extra-index-url=https://pypi.org/simple/
odoo-addon-g2p-registry-base==17.0.1.0.0.38
odoo-addon-g2p-registry-group==17.0.1.0.0.18
odoo-addon-g2p-registry-individual==17.0.1.0.0.25
odoo-addon-g2p-registry-membership==17.0.1.0.0.15
odoo-addon-g2p-programs==17.0.1.0.0.70
odoo-addon-g2p-entitlement-in-kind==17.0.1.0.0.4
odoo-addon-g2p-payment-interop-layer==17.0.1.0.0.8
odoo-addon-g2p-payment-phee==17.0.1.0.0.6
odoo-addon-g2p-program-approval==17.0.1.0.0.7
odoo-addon-g2p-program-assessment==17.0.1.0.0.13
odoo-addon-g2p-program-cycleless==17.0.1.0.0.13
odoo-addon-g2p-bank==17.0.1.0.0.6
odoo-addon-extendable-fastapi==17.0.2.1.1
odoo-addon-g2p-encryption==17.0.1.2.0.2
odoo-addon-g2p-bank-rest-api==17.0.1.0.0.5
odoo-addon-g2p-registry-rest-api==17.0.1.0.0.17
odoo-addon-g2p-openid-vci==17.0.1.2.0.5
odoo-addon-g2p-openid-vci-rest-api==17.0.1.2.0.4
odoo-addon-g2p-encryption-rest-api==17.0.1.2.0.2
