git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_base
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_group
git+https://github.com/OpenG2P/openg2p-registry@15.0#subdirectory=setup/g2p_registry_individual
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_membership
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_bank
git+https://github.com/openspp/openspp-odoo-external-dependencies@15.0#subdirectory=setup/odoo_dynamic_dashboard
git+https://github.com/OpenG2P/openg2p-program@15.0-develop#subdirectory=setup/g2p_programs
git+https://github.com/OpenSPP/openspp-program@15.1.1#subdirectory=setup/g2p_entitlement_cash
git+https://github.com/OpenSPP/openspp-program@15.1.1#subdirectory=setup/spp_entitlement_in_kind
git+https://github.com/OpenSPP/openspp-program@15.1.1#subdirectory=setup/spp_ent_trans
git+https://github.com/OpenSPP/openspp-program@15.1.1#subdirectory=setup/spp_programs_sp
git+https://github.com/OpenSPP/openspp-program@15.1.1#subdirectory=setup/spp_programs
git+https://github.com/OpenSPP/openspp-registry@15.1.1#subdirectory=setup/spp_service_points
git+https://github.com/OpenSPP/openspp-registry@15.0#subdirectory=setup/spp_area
git+https://github.com/OpenSPP/openspp-registry@15.1.1#subdirectory=setup/spp_service_point_device
