git+https://github.com/OpenG2P/openg2p-registry@15.0-1.0-develop#subdirectory=setup/g2p_registry_base
git+https://github.com/OpenG2P/openg2p-registry@15.0-1.0-develop#subdirectory=setup/g2p_registry_group
git+https://github.com/OpenG2P/openg2p-registry@15.0-1.0-develop#subdirectory=setup/g2p_registry_individual
git+https://github.com/OpenG2P/openg2p-registry@15.0-1.0-develop#subdirectory=setup/g2p_registry_membership
git+https://github.com/OpenG2P/openg2p-registry@15.0-1.0-develop#subdirectory=setup/g2p_bank
git+https://github.com/OpenSPP/openspp-registry@15.1.1#subdirectory=setup/spp_area
git+https://github.com/OpenSPP/openspp-registry@15.1.1#subdirectory=setup/spp_idpass
git+https://github.com/OpenSPP/openspp-registry@15.1.1#subdirectory=setup/spp_idqueue
git+https://github.com/OpenSPP/openspp-registry@15.1.1#subdirectory=setup/spp_service_points
git+https://github.com/OpenSPP/openspp-registry@15.1.1#subdirectory=setup/spp_custom_field
git+https://github.com/OpenSPP/openspp-registry@15.1.1#subdirectory=setup/spp_custom_fields_ui
git+https://github.com/OpenSPP/openspp-program@15.1.1#subdirectory=setup/spp_programs
git+https://github.com/OpenG2P/openg2p-program@15.0-1.0-develop#subdirectory=setup/g2p_programs
git+https://github.com/OpenSPP/openspp-grievance-redress-mechanism@15.0#subdirectory=setup/spp_helpdesk
cryptography==38.0.4
pyOpenSSL==22.0.0
