.table-report {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse !important;
}
.table-report th,
.table-report td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    background-color: #fff !important;
}
.table-report thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-report tbody + tbody {
    border-top: 2px solid #dee2e6;
}
.table-report-sm th,
.table-report-sm td {
    padding: 0.3rem;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-sm-6 {
    float: left;
    width: 50%;
}
.no-margin-bottom {
    margin-bottom: 0px;
}
.no-margin-top {
    margin-top: 0px;
}
.margin-top {
    margin-top: 7em;
}
