.o_dynamic_dashboard .tile-container__status-container {
    padding-left: 6px;
}

.tile-container {
    padding: 3.2rem 1.5rem;
    border-radius: 0;
    background-color: var(--nl-black-btt) !important;
    color: var(--nl-white);
    cursor: pointer;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
}

.tile-container .status-container__title,
.tile-container .status-container__figures h3 {
    color: var(--nl-white);
}

.tile-container .tile-container__icon-container {
    color: var(--nl-yellow) !important;
    background-color: var(--nl-white) !important;
}
