.o_main_navbar {
    border-bottom: none !important;
    background-color: #3264c8 !important;
}

.o_main_navbar > .o_menu_sections > .dropdown-item,
.o_main_navbar > .o_menu_sections > .o-dropdown > .dropdown-toggle {
    background-color: #3264c8 !important;
}
